foundationDB*
minimalBackend/data/blocks/*
!minimalBackend/data/blocks/.keep
minimalBackend/data/contract/*
!minimalBackend/data/contract/.keep
minimalBackend/data/fdb/*
!minimalBackend/data/fdb/.keep
toyBenchmark/node_modules
.vscode